# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# SSH keys
*.pem
tf_key
tf_key.pub

# Python cache
__pycache__/
*.pyc
*.pyo

# Docker
*.log

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
